In [43]:
#dsa_python

a=3
b=3 + a
print(b)

c= 9

if c % a ==0:
    print("c is divisible by a")
elif c % b == 0:
    print("c is divisible by b")
else:
    print("c is not divisible by a or b")

6
c is divisible by a

In [44]:
#functions in python defined by def keyword
def add(x, y):
    return x + y

add(2, 3)

5

In [45]:
#python datatypes
#numeric
#Complex Numbers - Complex number is represented by a complex class. It is specified as (real part) + (imaginary part)j. For example - 2+3j
a =5
print(type(a)) 
b = 3.5
print(type(b))  
c = 2 + 3j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [46]:
#string
string1 = "Hello"
print(string1)
print(type(string1))
string2 = 'World'
print(string1 + ' '+string2)
print(string1*3)  
print(string1[1])  
print(string1[-2])

Hello
<class 'str'>
Hello World
HelloHelloHello
e
l

In [47]:
#lists
list1 = [1,3,"hello"]
print(list1 + [4,5])
print(list1[2])
print(list1[-2])
print(type(list1))

[1, 3, 'hello', 4, 5]
hello
3
<class 'list'>

In [48]:
tuple1 = (1, 3, "hello")
print(tuple1 + (4, 5))

tuple2 = (6, 7, 8)
print(tuple2)
print(tuple1[2])
print(tuple1[-2])
print(type(tuple1))

(1, 3, 'hello', 4, 5)
(6, 7, 8)
hello
3
<class 'tuple'>

In [49]:
#BOOL
print(type(True))
print(type(False))
#CASE SENSITIVE

<class 'bool'>
<class 'bool'>

In [50]:
#SET
set1 = set([1, 2, 'Geeks', 4, 'For', 6, 'Geeks']) 
print("\nSet with the use of Mixed Values") 
print(set1)
print("Geeks" in set1) #checking
for i in set1:
    print(i, end = " ")

Set with the use of Mixed Values
{1, 2, 4, 6, 'Geeks', 'For'}
True
1 2 4 6 Geeks For

In [51]:
#dictionary
dict1 = {"name": "Alice", "age": 25, "city": "New York"}
print(dict1)
print(dict1["name"])
print(dict1.get("age"))

{'name': 'Alice', 'age': 25, 'city': 'New York'}
Alice
25

In [6]:
x = 10000000000000000000000000000000000000000000000

print (x)
print(type(x))
print(100**100)

10000000000000000000000000000000000000000000000
<class 'int'>
100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [8]:
#operator  priority (PEMDAS)
#()-parenthesis
#**-exponentiation
#* and / - multiplication and division
#+ and - addition and subtraction
#==, !=, >, <, >=, <= - comparison operators
#=, +=, -=, *=, /= - assignment operators

f = 5+12*21
print(f)


name = "Alex"
age = 40


if ((name == "Alex" or name =="False") and age >= 2):
    print("Hello! Welcome.")
else:
    print("Good Bye!!")

257
Hello! Welcome.

In [1]:
# Convert ASCII value to characters
a = chr(76)
b = chr(77)

print(a)
print(b)

L
M

In [ ]:
user_text = input("Enter something: ")
print("You typed:", user_text

In [ ]:
def mean(d, m):
    return (d + m) / 2

# Interactive usage (uncomment to use):
print(mean(float(input()), float(input())))

In [2]:
def mean(d, m):
	return (d + m) / 2

# Quick test (no input required)
print(mean(10, 20))  # Expected: 15.0

15.0

In [3]:
#if in python
i= 10
if(i>15):
    print("i is greater than 15")
else:
    print("i is smaller than 15")

i is smaller than 15

In [ ]:
# python program to illustrate nested If statement

i = 10
if (i == 10):
  
    #  First if statement
    if (i < 15):
        print("i is smaller than 15")
        
    # Nested - if statement
    # Will only be executed if statement above
    # it is true
    if (i < 12):
        print("i is smaller than 12 too")
    else:
        print("i is greater than 15")

i is smaller than 15
i is smaller than 12 too

In [3]:
i = 20
print(True)if i>25 else print(False)

False

In [ ]:
count = 7

while(count<5):
    count = count + 1
    print("hello")
else:
    print("hehe siuuu")

In [1]:
# Python program to illustrate
# Iterating over a list
print("List Iteration")
l = ["hi", "bye", "byeee"]
for i in l:
    print(i)
     
# Iterating over a tuple (immutable)
print("\nTuple Iteration")
t = ("hi", "bye", "byeee")
for i in t:
    print(i)
     
# Iterating over a String
print("\nString Iteration")    
s = "hi"
for i in s :
    print(i)
     
# Iterating over dictionary
print("\nDictionary Iteration")   
d = dict() 
d['xyz'] = 123
d['abc'] = 345
for i in d :
    print("%s  %d" %(i, d[i]))
    
#Iterating over a set
print("\nSet Iteration")
set1 = {1,2,3,4,5,6}
for i in set1:
    print(i),

List Iteration
hi
bye
byeee

Tuple Iteration
hi
bye
byeee

String Iteration
h
i

Dictionary Iteration
xyz  123
abc  345

Set Iteration
1
2
3
4
5
6

In [26]:
from __future__ import print_function
for i in range(0, 10):
    
    for j in range(i):
        print("*" , end="")
    print("" )

*
**
***
****
*****
******
*******
********
*********